<html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<head>
    <link rel="stylesheet" type="text/css" href="css/index.css"/>
    <script type="text/javascript" src="script/jquery-3.3.1.min.js"></script>
    <style>
        #parent {
            width: 200px;
            height: 200px;
            text-align: center;
            line-height: 3;
            background: green;
        }

        #child {
            width: 100px;
            height: 100px;
            margin: 0 auto;
            background: orange;
        }

        #aside {
            width: 100px;
            height: 100px;
            background: red;
        }

        .is-show {
            display: block;
        }

        .color {
            background: black !important;
        }

        .size {
            width: 200px;
            height: 200px;
        }
        input {
            width: 100px;
        }
    </style>
</head>
<body>
<script>
    var date = new Date;
    var month = date.getMonth();
    var week = new Date().getDay();
    /*周末开放任务安排*/
    if (week > 4) {
        $("#arrange").css("display", "block")
    }
    /*查詢*/
    var time = ["Jan", "Feb", "Mar", "Apr", "May", "June", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
    var url = window.location.href;
    $.ajax({
        url: url + "query",
        type: "POST",
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        data: JSON.stringify({time: time[month]}),
        success: function (datas) {
            if (datas.length > 0) {
                /*画表格*/
                for (var i = 0; i < datas.length; i++) {
                    var td_time = document.createElement("td");
                    var div_time = document.createElement("div");
                    td_time.rowSpan = datas.length;
                    div_time.style.textAlign = "center";
                    div_time.style.width = "244px";
                    div_time.innerHTML = datas[0].time;
                    var j = i + 1;
                    var tr = document.createElement("tr");
                    var td_no = document.createElement("td");
                    var td_task = document.createElement("td");
                    var div_no = document.createElement("div");
                    var div_task = document.createElement("div");
                    div_no.style.textAlign = "center";
                    div_no.style.width = "60px";
                    div_no.innerHTML = "No." + j;
                    div_task.style.width = "524px";
                    div_task.style.textAlign = "center";
                    div_task.innerHTML = datas[i].taskContent;
                    div_task.id = datas[i].taskId;
                    /*点击任务可以看见详细信息*/
                    div_task.onclick = function (that) {
                        //window.open ("view/task_detail.html", "detail", "height=200, width=500, top=200,left=400,toolbar=no, menubar=no, scrollbars=no, resizable=no, location=no, status=no")
                        var task_id = that.currentTarget.id;
                        /*查出起止时间和状态*/
                        $.ajax({
                            url: url + "query",
                            type: "POST",
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            data: JSON.stringify({taskId: task_id}),
                            success: function (datas) {
                                var beginDate = document.getElementById("date_from");
                                var endDate = document.getElementById("date_to");
                                if (datas[0].dateFrom != null) {
                                    beginDate.value = datas[0].dateFrom.substring(0, 10);
                                } else {
                                    beginDate.value = null;
                                }
                                if (datas[0].dateTo != null) {
                                    endDate.value = datas[0].dateTo.substring(0, 10);
                                } else {
                                    endDate.value = null;
                                }
                                $("#task_detail").css("display", "block");
                                $("#status").val(datas[0].status);
                                $("#task_id").val(datas[0].taskId);
                                $("div").not("#" + datas[0].taskId).css("color", "black");
                                $("#" + datas[0].taskId).css("color", "red");
                            }
                        })
                    }
                    td_time.appendChild(div_time);
                    td_no.appendChild(div_no);
                    td_task.appendChild(div_task);
                    if (i == 0) {
                        tr.appendChild(td_time);
                    }
                    tr.appendChild(td_no);
                    tr.appendChild(td_task);
                    $("#detail tr").last().after(tr);
                }
            } else {
                $("#detail").css("display", "none");
            }
        },
        error: function (datas) {
        }
    });

    function btnAction() {
        if ($("#square").css("background-color") == "rgb(255, 0, 0)") {
            $("#square").css("background-color", "white");
        } else {
            $("#square").css("background-color", "red");
        }
    }

    function add_task() {
        /*tr数量*/
        var i = $("#arrange tr").length;
        var tr = document.createElement("tr");
        var td_no = document.createElement("td");
        var td_task = document.createElement("td");
        var div_no = document.createElement("div");
        div_no.style.textAlign = "center";
        div_no.style.width = "60px";
        div_no.innerHTML = "No." + i;
        var div_task = document.createElement("div");
        div_task.style.width = "524px";
        var input = document.createElement("input");
        input.type = "text";
        input.style.border = " 0px #e7ecf1 solid";
        input.style.width = "525px";
        input.style.height = "23";
        input.id = "input_" + i;
        div_task.appendChild(input);
        td_no.appendChild(div_no);
        td_task.appendChild(div_task);
        tr.appendChild(td_no);
        tr.appendChild(td_task);
        $("#detail tr").last().after(tr);
    }

    function save_task() {
        var param = {};
        var columns = [];
        var index = 0;
        var table = document.getElementById("arrange");
        for (var i = 1; i < table.rows.length; i++) {
            var columnInfo = {};
            columnInfo["taskContent"] = $("#input_" + i)[0].value;
            columns[index] = columnInfo;
            index++;
        }
        param["columnsInfo"] = columns;
        param["status"] = "NEW";
        param["time"] = $("#time")[0].value;
        var url = window.location.href;
        $.ajax({
            url: url + "insert",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify([param]),
            success: function (datas) {
                if (datas.length > 0) {
                    //刷新页面
                    window.location.reload();
                }
            },
            error: function (datas) {
            }
        })
    }

    function updateTask() {
        var param = {
            taskId: $("#task_id").val(),
            dateFrom: $('#date_from')[0].value,
            dateTo: $('#date_to')[0].value,
            status: $("#status").val(),
        }
        $.ajax({
            url: url + "update",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify(param),
            success: function (datas) {
                if (datas != null) {
                    //刷新页面
                    window.location.reload();
                }
            },
            error: function (datas) {
            }
        })
    }
</script>
<div id="top" class="ever-top"></div>
<div id="left" class="ever-left" style="float: left;display: none">
    <img src="image/luffy.jpg" style="width: 500px;height: 300px;">
    <h1>CYY</h1>
    <p>ever</p>
</div>
<!--事件-->
<input type="text" name="age" size=3" id="number">
<div id="parent" draggable="true">
    <div id="child">
    </div>
</div>
<div id="aside" class="aside is-show color">
    <ul id="color-list" style="background: green">
        <li>red</li>
        <li>yellow</li>
        <li>blue</li>
        <li>green</li>
        <li>black</li>
        <li>white</li>
    </ul>
</div>
<br/>
<p id="para">Hello <em>World</em></p>
<p>Hello</p>
<pre style="background-color: #23241f;color: #586e75">
    <code>
        var event = new Event(type, options);
    </code>
</pre>
<select id="select">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
</select>
<div draggable="true">
    此区域可拖拉
</div>
<script type="text/javascript">
    function inputHandler(e) {
        console.log(e.target.value);
    }
    select.addEventListener('input',inputHandler);
    function sendAjax(){
        var xhr = new XMLHttpRequest();
        xhr.open('GET','/role/queryList',true);
        xhr.onload= function (ev) {
            if (this.status === 200 || this.status === 304) {
                debugger
            }
        }
        xhr.send();
    }
    function check(e) {
        if (e.charCode < 97 || e.charCode > 122) {
            e.preventDefault();
        }
    }
    number.addEventListener('keypress',check,false);
    function hide(e) {
        console.log(this === e.currentTarget);  // 总是 true
        console.log(this === e.target);  // 有可能不是 true
        e.target.style.visibility = 'hidden';
    }

    para.addEventListener('click', hide, false);
    function alert(e) {
        if (e.target.nodeName.toLowerCase() === 'li') {
            console.log(e.target.innerHTML)
        }
    }
    (function() {
        var list = document.getElementById('color-list');
        list.addEventListener('click',alert,false)
    })();
    var b = document.body;
    var p = document.getElementById('parent');
    var c = document.getElementById('child');
    var change = function (color, el, meg, e) {
        // el.style.backgroundColor = color;
        console.log(meg);
    };
    var a = document.getElementById('aside');

    function show() {
        a.classList.toggle('color')
    }

    p.addEventListener("click", function (e) {
        change("red", p, 'click-p', e);
    }, false); //最后一个参数给false代表监听函数在冒泡阶段触发
    c.addEventListener("click", function (e) {
        show()
    }, false);
    b.addEventListener("click", function (e) {
        change("red", b, 'click-body')
    }, false);
    function showKey(e) {
        console.log('ALT key pressed: ' + e.altKey);
        console.log('CTRL key pressed: ' + e.ctrlKey);
        console.log('META key pressed: ' + e.metaKey);
        console.log('SHIFT key pressed: ' + e.shiftKey);
    }
    b.addEventListener("click",showKey, false);
    function showClient(evt) {
        console.log(
            'clientX value: ' + evt.clientX + '\n' +
            'clientY value: ' + evt.clientY + '\n'
        );
    }
    b.addEventListener("mousedown",showClient,false)
</script>
<div id="right" style="display: none" class="ever-right">
    <!--表格-->
    <div style="margin-top: 10px;margin-left:520px;font-size: 22px;">01 | 任务明细</div>
    <table id="detail" style="margin-top: 10px;" border="1" borderColor="#e7ecf1">
        <tr>
            <th>TIME</th>
            <th>INDEX</th>
            <th>TASK</th>
        </tr>
    </table>
    <!--任务起止时间以及状态-->
    <div id="task_detail" style="margin-top: 10px;display: none">
        <label style="margin-left:10px;">起始时间</label>
        <input id="date_from" type="date"/>
        <label>结束时间</label>
        <input id="date_to" type="date"/>
        <label>任务状态</label>
        <select id="status">
            <option value="NEW">新建</option>
            <option value="ING">进行中</option>
            <option value="DOWN">完成</option>
            <option value="FAIL">失败</option>
        </select>
        <input id="task_id" style="display: none;"/>
        <button id="update" onclick="updateTask()" type="button" style="margin-left: 10px;">更新</button>
    </div>
    <div style="margin-top: 10px;margin-left:20px;font-size: 22px;float: left">02 | 任务安排</div>
    <img src="image/add_plan.png" style="width: 30px;height: 30px;margin-left: 12px;margin-top: 12px;cursor: pointer"
         onclick="add_task()">
    <img src="image/save_plan.png" style="width: 28px;height: 28px;margin-left: 12px;margin-top: 10px;cursor: pointer"
         onclick="save_task()">
    <table id="arrange" style="margin-top: 10px;display: none" border="1" borderColor="#e7ecf1">
        <tr>
            <th>TIME</th>
            <th>INDEX</th>
            <th>TASK</th>
        </tr>
        <tr>
            <td id="time_all" width="100%" rowspan="10">
                <div style="text-align: center;">
                    <input id="time" type="text"
                           style="text-align:center;border: 0px #e7ecf1 solid;width: 227px;height: 23px;"/>
                </div>
            </td>
            <td width="100%">
                <div style="text-align: center;width: 60px">No.1</div>
            </td>
            <td width="100%">
                <div style="text-align: center;width: 524px">
                    <input id="input_1" type="text" style="border: 0px #e7ecf1 solid;width: 525px;height: 23px;"/>
                </div>
            </td>
        </tr>
    </table>
    <!--<div id="square" style="width: 50px;height: 50px;background-color: red;margin-left: 700px"></div>
    <button id="btn_F" type="submit" onclick="btnAction()">HERE</button>-->
</div>


</body>
</html>