<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.EverRoleMapper">
    <resultMap id="BaseResultMap" type="com.example.demo.dto.EverRole">
        <id column="role_id" property="roleId" jdbcType="INTEGER" />
        <result column="role_name" property="roleName" jdbcType="VARCHAR" />
        <result column="enable_flag" property="enableFlag" jdbcType="INTEGER" />
    </resultMap>

    <insert id="insertRole" parameterType="com.example.demo.dto.EverRole">
        insert into role(role_name,enable_flag) VALUES (#{roleName},#{enableFlag})
    </insert>

    <select id="queryByRoleName" parameterType="com.example.demo.dto.EverRole" resultMap="BaseResultMap">
        select t.*
        from role t
        where
        1 = 1
        <if test="roleName!=null">
            and t.role_name = #{roleName}
        </if>
    </select>
</mapper>